@page
@model ClassDemoRunApp.Pages.runs.IndexModel
@{
}
<h1>Velkommen til 'Løb for Livet' medlemsoversigt</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>MedlemsId</th>
            <th>Navn</th>
            <th>Mobil</th>
            <th>Hold</th>
            <th>Pris</th>
            <th>Medlems type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Medlemmer)
        {
                <tr>
                    <td>@m.MedlemsId</td>
                    <td>@m.Navn</td>
                    <td>@m.Mobil</td>
                    <td>@m.LøbeHold</td>
                    <td>@m.Pris</td>
                    <td>@m.MedlemsType</td>

                    <td>
                        <a asp-page="Delete" asp-route-id="@m.MedlemsId">Delete</a>
                        |
                        <a asp-page="Edit" asp-route-id="@m.MedlemsId">Edit</a>
                    </td>
                </tr>
        }
    </tbody>
</table>



<form method="get">
    <button class="btn btn-warning" asp-page="Create">Opret Nyt Medlem</button>
</form>

